.bg-light {
    /* fallback for old browsers */
    background: #a8edea;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(168, 237, 234, 0.75), rgba(254, 214, 227, 0.75));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(168, 237, 234, 0.75), rgba(254, 214, 227, 0.75))
  }